@model SistemaGestionVentas.Models.Producto

@{
  ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
  <h4>Producto</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Codigo)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Codigo)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Nombre)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.PrecioCosto)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.PrecioCosto)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.PrecioVenta)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.PrecioVenta)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Stock)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Stock)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Pesable)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Pesable)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Imagen)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Imagen)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Estado)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Estado)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Categoria)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Categoria.Nombre)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Proveedor)
    </dt>
    <dd class="col-sm-10">
      @if (Model.Proveedor != null)
      {
        @Model.Proveedor.NombreContacto
      }
      else
      {
        <span>N/A</span>
      }
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.UsuarioCreador)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.UsuarioCreador.Apellido)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.UsuarioModificador)
    </dt>
    <dd class="col-sm-10">
      @if (Model.UsuarioModificador != null)
      {
        @Model.UsuarioModificador.Apellido
      }
      else
      {
        <span>N/A</span>
      }
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
  <a asp-action="Index">Back to List</a>
</div>